<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>iView project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../static/main.c1fe31a2416c6f165590.css">
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" src="../static/vendors.c1fe31a2416c6f165590.js"></script>
    <script type="text/javascript" src="../static/main.c1fe31a2416c6f165590.js"></script>
</body>
</html>